/* General styles for responsiveness */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
  }
  

.hero {
  height: 80vh; /* Adjust this value to control the height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  height: 80vh; /* Matches the height of the hero section */
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .hero h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
    text-align: center;
    margin: 10px;
  }
  
  .hero p {
    font-size: 1.5rem;
    text-align: center;
    text-align: center;
    
  }

  .socialLinks {
    display: flex;               /* Use flexbox to arrange items in a row */
    margin-top: 10px;           /* Space above the icons */
  }
  
  .socialLinks a {
    margin-right: 15px;         /* Space between the icons */
    color: #268d7c;                /* Icon color, adjust as needed */
    text-decoration: none;      /* Remove underline from links */
  }
  
  .socialLinks a:hover {
    color: #b3d567;             /* Change color on hover */
  }
  
  
  /* about section */

  .about {
    
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 80px; /* Increased padding */
      background-color: #E6E6FA;
      text-align: center;
      height: 1000px; /* Increased height */
      max-width: 90%; /* Increased width */
     
      box-sizing: border-box;
      margin-top: 50px;
    
    
  }
  .aboutimg{
    height: 250px;
    width: 250px;
    margin: 30px;
    margin-top: 50px;

  }

  /* skill section */



  .page {
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .skills {
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul li strong {
    color: #555;
  }
  
  

 
  